@page
@model IndexModel
@{
    ViewData["Title"] = "PubgStats";
}


<div class="row">
    <div class="playerFormContainer">
        <div class="playerForm">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchPlayer", @class = "inheritSize" }))
            {

                <div class="form-horizontal inheritSize">
                    <input type="text" placeholder="Search player" onfocus="this.placeholder=''" onblur="this.placeholder='Search Player...'"
                           autocomplete="off" class="inheritSize playerInput" />
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="statsGridContainer">
        <div class="row statsRow">
            <div class="statsCard col-md-4">
                <div class="statsField">
                    1.2 KD
                </div>
                <div class="statsField">
                    200ADR
                </div>
                <div class="statsField">
                    20% WR
                </div>
            </div>
            <div class="statsCard col-md-4">
                <div class="statsField">
                    1.2 KD
                </div>
                <div class="statsField">
                    200ADR
                </div>
                <div class="statsField">
                    20% WR
                </div>
            </div>
            <div class="statsCard col-md-4">
                <div class="statsField">
                    1.2 KD
                </div>
                <div class="statsField">
                    200ADR
                </div>
                <div class="statsField">
                    20% WR
                </div>
            </div>
        </div>
        <div class="row statsRow">
            <div class="statsCard col-md-4">
                <div class="statsField">
                    1.2 KD
                </div>
                <div class="statsField">
                    200ADR
                </div>
                <div class="statsField">
                    20% WR
                </div>
            </div>
            <div class="statsCard col-md-4">
                <div class="statsField">
                    1.2 KD
                </div>
                <div class="statsField">
                    200ADR
                </div>
                <div class="statsField">
                    20% WR
                </div>
            </div>
            <div class="statsCard col-md-4">
                <div class="statsField">
                    1.2 KD
                </div>
                <div class="statsField">
                    200ADR
                </div>
                <div class="statsField">
                    20% WR
                </div>
            </div>
        </div>
    </div>
</div>