@page
@model IndexModel
@{
    ViewData["Title"] = "PubgStats";
}


<div class="row">
    <div class="playerFormContainer">
        <div class="playerForm">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchPlayer", @class = "inheritSize" }))
            {

                <div class="form-horizontal inheritSize">
                    <input type="text" placeholder="Search player" onfocus="this.placeholder=''" onblur="this.placeholder='Search Player...'"
                           autocomplete="off" class="inheritSize playerInput"/>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="statsGridContainer">

    </div>
</div>