@page
@model IndexModel
@{
    ViewData["Title"] = "PubgStats";
}


<div class="row formRow">
    <div class="playerFormContainer">
        <div class="playerForm">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchPlayer", @class = "inheritSize" }))
            {

                <div class="form-horizontal inheritSize">
                    <input id="playerInput" type="text" placeholder="Search player" onfocus="this.placeholder=''" onblur="this.placeholder='Search Player...'"
                           autocomplete="off" class="inheritSize playerInput" />
                </div>
            }
        </div>
    </div>
</div>
@*<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>*@
<!-- ko if: Player().soloFPP-->
<div class="row statsGrid">
    <div class="statsGridContainer">
        <div class="row statsRow" data-bind="with: Player">
            <!--SOLO FPP-->
            <div class="statsCard col-md-4">
                <div class="statsField" data-bind="text: $data.soloFPP.KillDeath"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.soloFPP.AverageDamage"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.soloFPP.WinRatio"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
            </div>
            <!--DUO FPP-->
            <div class="statsCard col-md-4">
                <div class="statsField" data-bind="text: $data.duoFPP.KillDeath"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.duoFPP.AverageDamage"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.duoFPP.WinRatio"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
            </div>
            <!--SQUAD FPP-->
            <div class="statsCard col-md-4">
                <div class="statsField" data-bind="text: $data.squadFPP.KillDeath"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.squadFPP.AverageDamage"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.squadFPP.WinRatio"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
            </div>
        </div>
        <div class="row statsRow" data-bind="with: Player">
            <!--SOLO TPP-->
            <div class="statsCard col-md-4">
                <div class="statsField" data-bind="text: $data.soloTPP.KillDeath"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.soloTPP.AverageDamage"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.soloTPP.WinRatio"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
            </div>
            <!--DUO TPP-->
            <div class="statsCard col-md-4">
                <div class="statsField" data-bind="text: $data.duoTPP.KillDeath"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.duoTPP.AverageDamage"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.duoTPP.WinRatio"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
            </div>
            <!--SQUAD TPP-->
            <div class="statsCard col-md-4">
                <div class="statsField" data-bind="text: $data.squadTPP.KillDeath"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.squadTPP.AverageDamage"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
                <div class="statsField" data-bind="text: $data.squadTPP.WinRatio"></div><img class="statsIcon" src="~/images/icons/damage.svg" />
            </div>
        </div>
    </div>
</div>
<!-- /ko -->